$black: #000;
$max-width: 700px;
$min-width: 320px;
$one-hundred-percentage: 100%;
$zero: 0;


//Color Variables

$red: red;
$green: green;
$black: black;
$white: #fff;

//Media queries variables

$mobile: 699px;


//Font sizes

$menu-font-size: 18px;
$header-name: 25px;