@import "variables";
@import "main";

.btn-default {
	background-color: blue;
	color: white;
	padding: 10px;
	text-align: center;
}

.green-btn {
	@extend .btn-default;
	background-color: $green;
}

.error-btn {
	@extend .btn-default;
	background-color: $red;	
}

.orange-btn {
	@extend .btn-default;
	background-color: orange;		
}

.grey-btn {
	@extend .btn-default;
	background-color: grey;
}

.black-btn {
	@extend .btn-default;
	background-color: $black;	
}

.yellow-btn {
	@extend .btn-default;
	background-color: pink;	
}

.black-btn {
	@extend .btn-default;
	background-color: $black;
}

.pink-btn {
	@extend .btn-default;
	background-color: pink;
}